@keyframes blink {
    0% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.35;
    }

    100% {
        opacity: 0.5;
    }
}

.blink {
    animation: blink 0.2s both;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #b0b0b0 #ffffff;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 10px;
    border: 3px solid #ffffff;
}